<p>
    <mat-toolbar color="primary">
        <div class="button-container">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>important_devices</mat-icon>
            </button>
          </div>
        <span>
            <a href="/" class="link">            
                Rajni Padhiyar
            </a>
        </span>
        <span class="spacer"></span>
        <div class="tail">
            <h3><i>A fullstack Web Developer</i></h3>
        </div>
    </mat-toolbar>
  </p>
  