<mat-card class="personal-card">
    <mat-card-header>
      <mat-card-title-group> 
         <mat-card-subtitle class="firstmatcard">
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Name</span>
                    <span matListItemLine>Rajni M Padhiyar</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Experience in software Development</span>
                    <span>17 Years</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Education</span>
                    Computer Engineering
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Phone</span>
                    +91-9824684725
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Email</span>
                    rajni_cby@hotmail.com
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Current Location</span>
                    Gandhinagar, Gujarat, India.
                </mat-list-item>
            </mat-list>
        </mat-card-subtitle> 
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <h3>About Me</h3>                    
        Sharp, Top-producing Software Engineer with over 16+ years of experience providing programming and
        database expertise. Forward thinking, problem identification, research, analysis, and resolution. Consistently delivers strong and sustainable technology gains. Organizational driver offering productivity improvements, pioneering technologies, process redesign and reengineering. Expertise in .NET and SQL Server
    </mat-card-content>
  </mat-card>