<div class="skillset-container">
    <h3>Programming Language</h3>
    
<mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>c#</mat-chip-option>
    <mat-chip-option>VB.Net</mat-chip-option>
    <mat-chip-option>TSQL</mat-chip-option>
    <mat-chip-option>JavaScript</mat-chip-option>
    <mat-chip-option>TypeScript</mat-chip-option>
  </mat-chip-listbox>
 <br />
 <mat-divider></mat-divider>
 <br />
  <h3>Web Development</h3>
  
  <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>ASP.NET</mat-chip-option>
      <mat-chip-option>ASP.NET MVC</mat-chip-option>
      <mat-chip-option color="accent" selected>ASP.NET Core</mat-chip-option>
      <mat-chip-option>ASP.NET EntityFramework</mat-chip-option>
      <mat-chip-option>SOAP Services</mat-chip-option>
      <mat-chip-option>Web API</mat-chip-option>
      <mat-chip-option color="accent" selected>Angular</mat-chip-option>
      <mat-chip-option>Jquery</mat-chip-option>
      <mat-chip-option>CSS</mat-chip-option>
      <mat-chip-option color="accent" selected>Angular Material</mat-chip-option>
      <mat-chip-option>DevExpress</mat-chip-option>
    </mat-chip-listbox>
 
    <br />
  <mat-divider></mat-divider>
 <br />
  <h3>Tools</h3>
  
  <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option>Visual Studio</mat-chip-option>
      <mat-chip-option>Visual Studio Code</mat-chip-option>
      <mat-chip-option>SQL Server</mat-chip-option>
      <mat-chip-option>Jira</mat-chip-option>
      <mat-chip-option>SVN</mat-chip-option>
      <mat-chip-option>Git</mat-chip-option>
    </mat-chip-listbox>
    <br />
  <mat-divider></mat-divider>
  </div>