<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_circle</mat-icon>
      PERSONAL DETAILS
    </ng-template>
    <mat-divider></mat-divider>
    <app-personaldetails></app-personaldetails>
  </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">work</mat-icon>
        EXPERIENCE
      </ng-template>
      <mat-divider></mat-divider>
      <app-experience></app-experience>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">notifications_active</mat-icon>
        SKILL SET
      </ng-template>
      <mat-divider></mat-divider>
      <app-skillset></app-skillset>
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">domain</mat-icon>
        PROJECTS
      </ng-template>
      <mat-divider></mat-divider>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">school</mat-icon>
        EDUCATION
      </ng-template>
      <mat-divider></mat-divider>
      Content 3
    </mat-tab>

    
  </mat-tab-group>