/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.imground{
    border-radius: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    }

.footer .mat-toolbar
{
    background-color: #a4a5ea !important;
    font-size: 12px;
}